@import url('https://fonts.googleapis.com/css2?family=Rancho&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

body{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

@theme{
    --color-primary-black: #1A1A1A;
    --color-black-accent: #1A1A2E;
    --color-black-base: #585858;
    --color-red-primary: #E63946;
    --color-red-secondary: #E63946;
}
.rancho{
  font-family: "Rancho", cursive;
  font-weight: 400;
  font-style: normal;
}
.my-text {
    text-shadow: 2px 2px 4px rgba(51, 26, 21, 1);
}

.common-btn{
    @apply py-3 px-10 text-white bg-red-secondary  rounded-lg font-normal text-lg cursor-pointer hover:-translate-y-1 duration-500
}
.active{
    color: #E63946;
    font-weight: 700;
}
